.carrousel {
  width: 100%;
  height: 415px;
  margin-top: 25px;
  @media only screen and (max-width: $sm) {
    height: 300px;
  }

  & .carrousel-inner {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .arrow-left {
      cursor: pointer;
      margin-left: 20px;
      @media only screen and (max-width: $md) {
        width: 20px;
        height: 30px;
        margin: 0 7px;
      }
    }

    & .arrow-right {
      cursor: pointer;
      margin-right: 20px;
      @media only screen and (max-width: $md) {
        width: 20px;
        height: 30px;
        margin: 0 7px;
      }
    }

    & .current-page {
      align-self: flex-end;
      margin-bottom: 25px;
      color: white;
      @media only screen and (max-width: $sm) {
        display: none;
      }
    }
  }
}
