.tag {
  text-align: center;
  padding: 0 5px;
  margin: 10px;
  width: 11%;
  min-height: 25px;
  font-size: 14px;
  background: $color-1;
  border-radius: 10px;
  color: white;
  @include verticalCenter;
}
