@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}

$font-1: "font-1", sans-serif;
$color-1: #ff6060;
$color-2: #f7f7f7;

//screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 90%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  font-family: $font-1;
  background: white;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
